.invalid-container {
    height: 35px;
    width: 140px;
    background-color: rgb(182, 23, 15);
    color: black;
    position: absolute;
    top: 10px;
    left: calc(50% - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 13px;
    color: rgb(128, 255, 0);
    opacity: 0;
    animation: fadeIn 0.5s ease forwards, fadeOut 0.5s ease 3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(6px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
